#base {
    position: relative;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
      width: 100%;
      height: 90px;
      overflow: hidden;
      background: #FFF;
      border-radius: 0px;
      box-shadow: 10px 10px 10px;
  }
  
  .long {
      height: 470%;
      transform: rotate(-3deg);
      position: absolute;
      top: -210px;
      left: -10px;
      animation: long 0.4s ease-in-out infinite;
      animation-direction: alternate-reverse;
  }
  
  .title {
      position: absolute;
      height: 70%;
      left: 10px;
      top: 15px;
      filter: drop-shadow(0px 0px 10px #000);
      z-index: 1;
      animation: t 10s ease-in-out infinite;
  }
  
  .spin2 {
      position: absolute;
      animation: spin2 10s linear infinite;
  }
  
  .spinner:before {
      content: '';
      box-sizing: border-box;
      position: absolute;
      top: 25px;
      left: -60px;
      width: 40px;
      height: 40px;
      filter: blur(50%);
      border-radius: 100%;
      border: 10px solid blue;
      border-top-color: blue;
      border-bottom-color: red;
      animation: spinner 0.4s linear infinite;
      animation-direction: alternate-reverse;
      filter: blur(30px) brightness(15);
  }
  
  .slid1 {
      position: absolute;
      background-color: white;
      height: 300px;
      width: 800px;
      top: -100px;
      left: -10px;
      transform: rotate(10deg);
      z-index: 2;
      animation: s1 10s ease infinite;
  }
  
  .but {
      color: white;
      position: absolute;
      top: 40px;
      left: 350px;
      height: 35px;
      width: 180px;
      border: none;
      border-radius: 6px;
      outline: none;
      background-color: #5cad2f;
      box-shadow: 0px 0px 20px 0.5px #000;
      cursor: pointer;
      font-family: 'Raleway', sans-serif;
      font-size: 20px;
      animation: b 2s linear infinite;
      z-index: 1;
  }
  
  .butd {
      position: absolute;
      animation: butd 10s ease-in-out infinite;
  }
  
  a:link,
  a:visited {
      color: azure;
      text-decoration: none;
  }
  
  .ea {
      position: absolute;
      height: 70%;
      top: 13px;
      left: 320px;
      z-index: 3;
      animation: ea 10s ease infinite;
  
  }
  
  .ps {
      position: absolute;
      height: 100%;
      left: 1700px;
      z-index: 3;
      animation: ps 10s ease-in-out infinite;
  }
  
  .x {
      position: absolute;
      height: 70%;
      top: 11.5px;
      left: 1700px;
      z-index: 3;
      animation: x 10s ease-in-out infinite;
  
  }
  
  .h2 {
      position: absolute;
      height: 300px;
      width: 180px;
      top: -100px;
      left: 800px;
      background: #5cad2f;
      transform: rotate(10deg);
      z-index: 6;
      animation: h2 10s ease-in-out infinite;
  
  }
  
  .h1 {
      color: white;
      position: absolute;
      text-align: center;
      top: 100px;
      left: 10px;
      padding-top: 20px;
      height: 90px;
      width: 160px;
      border: none;
      outline: none;
      font-size: 20px;
      font-family: 'Raleway', sans-serif;
      font-weight: bolder;
      animation: h 10s ease-in-out infinite;
      transform: rotate(-10deg);
      z-index: 6;
  }
  
  @keyframes h2 {
      30% {
          left: 1500px;
      }
  
      50% {
          left: 858px;
      }
  
      90% {
          left: 858px;
      }
  
      99% {
          left: 1500px;
      }
  }
  
  @keyframes ps {
  
      30% {
          left: 1500px;
      }
  
      60% {
          left: 585px;
      }
  
      90% {
          left: 585px;
      }
  
      99% {
          left: 1000px;
      }
  }
  
  @keyframes x {
  
      30% {
          left: 1700px;
      }
  
      65% {
          left: 475px;
      }
  
      89% {
          left: 475px;
      }
  
      99% {
          left: 1700px;
      }
  }
  
  @keyframes t {
      0% {
          left: 800px;
      }
  
      20% {
          left: 5px;
      }
  
      21% {
          left: 10px;
      }
  
  }
  
  @keyframes butd {
      0% {
          top: 500px;
      }
  
      20% {
          top: 0px;
      }
  
  }
  
  
  @keyframes b {
      0% {
          transform: rotate(0deg);
      }
  
      10% {
          transform: rotate(0deg);
      }
  
      20% {
          transform: rotate(0deg);
      }
  
      30% {
          transform: rotate(0deg);
      }
  
      40% {
          transform: rotate(1deg);
      }
  
      50% {
          transform: rotate(-1deg);
      }
  
      60% {
          transform: rotate(1deg);
      }
  
      70% {
          transform: rotate(0deg);
      }
  
      80% {
          transform: rotate(0deg);
      }
  
      90% {
          transform: rotate(0deg);
      }
  
      100% {
          transform: rotate(0deg);
      }
  }
  
  
  @keyframes ea {
      0% {
          left: 320px;
      }
  
      30% {
          left: 1500px;
      }
  
      60% {
          left: 320px;
      }
  }
  
  @keyframes s1 {
      0% {
          left: -5px;
      }
  
      30% {
          left: 1500px;
      }
  
      55% {
          left: 300px;
      }
  
      90% {
          left: 300px;
      }
  
  }
  
  @keyframes long {
      0% {
          left: -12px;
          top: -212px;
      }
  
      50% {
          left: -13px;
          top: -210px;
      }
  }
  
  @keyframes spin2 {
      0% {
          left: -60px;
      }
  
      25% {
          left: -60px;
      }
  
      30% {
          left: 120px;
      }
  
      80% {
          left: 120px;
      }
  
      99% {
          left: 120px;
      }
  }
  
  @keyframes spinner {
      0% {
          opacity: 0;
      }
  
      50% {
          transform: rotate(360deg)
      }
  
  }