.station-detail-container{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
}
.station-detail-info{
    width: 100%;
}
.station-detail-info-in{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}
.station-detail-info-left{
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1%;
}
.station-detail-info-left-detail{
    width: 50%;
    margin-left: 2%;
    margin-top: 2%;
}
.features{
    width: 50%;
    justify-content: space-between;
    padding-top: 1%;
}
.features-logo-p{
    text-align: center;
}
.station-add-name{
    font-size: 16px;
    color: #333164;
    font-weight: bold;
    margin-bottom: 0;
}
.contact{
    margin-right: 1%;
    font-size: 12px;
    color: #333164;
    margin-top: 6%;
}
.contact p{
    margin-bottom: 5px;
}
.tel{
    padding-left: 10px;
}
.market{
    width: 40px;
    height: 40px;
}
.reviews-h{
    margin-top: 2%;
}

.reviews {
    width: 100%;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.reviews__item {
    margin-top: 1%;
}

.reviews__item__img-wrap {
    width: 50px;
    height: 50px;;
    margin-left: 1%;
}

.reviews__item__img {
    width: 100%;
    height: 100%;
}
.reviews__item__info{
    margin-left: 1%;
}
.review-author{
    font-size: 22px;
    font-weight: bold;
    color: #333164;
}
.review-expert{
    font-size: 14px;
    color: #BCA942;
}
.reviews__item__info__two{
    margin-top: 22%;
}
.count-review{
    font-size: 14px;
    color: #979797;
}
.data-comment{
    font-size: 14px;
    color: #979797;
}
.reviews__item__content{
    margin-top:52px;
    border-bottom: 1px solid #C4C4C4;
    width: 77%;
}
.review-form{
    width: 100%;
    justify-content: space-between;
    margin-top: 2%;
}
.content{
    
}
.mark{

}
.review-content{
    width: 1020px;
    height: 96px;
}
.add-review{
    margin-left: 3%;
    width: 100%;
    background-color: #5cad2f;
    color: white;
    margin-bottom: 8%;
}
